<div class="auth">
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s6"><a class="active" href="#login">Login</a></li>
        <li class="tab col s6"><a href="#register">Register</a></li>
      </ul>
    </div>
    <div id="login" class="col s6 offset-s3">

      {{#if loginError}}
        <p class="alert">{{loginError}}</p>
      {{/if}}

      <h2>Login to shop</h2>
      <form action="/auth/login" method="POST">
        <div class="input-field">
          <input id="email" type="email" name="email" class="validate" required>
          <label for="email">Email</label>
          <span class="helper-text" data-error="Type an email"></span>
        </div>

        <div class="input-field">
          <input id="password" type="password" name="password" class="validate" required>
          <label for="password">Password</label>
          <span class="helper-text" data-error="Type a password"></span>
        </div>

        <input type="hidden" name="_csrf" value="{{csrf}}">
        
        <p><a href="/auth/reset">Forgot Your Password?</a></p>
        <button class="btn btn-primary" type="submit">Login</button>
      </form>
    </div>
    <div id="register" class="col s6 offset-s3">

      {{#if registerError}}
        <p class="alert">{{registerError}}</p>
      {{/if}}

      <h2>Create an account</h2>
      <form action="/auth/register" method="POST">
        <div class="input-field">
          <input id="remail" type="email" name="email" class="validate" required>
          <label for="remail">Email</label>
          <span class="helper-text" data-error="Type an email"></span>
        </div>

        <div class="input-field">
          <input id="rpassword" type="password" name="password" class="validate" required>
          <label for="rpassword">Password</label>
          <span class="helper-text" data-error="Type a password"></span>
        </div>

        <div class="input-field">
          <input id="confirm" type="password" name="confirm" class="validate" required>
          <label for="confirm">Confirm Password</label>
          <span class="helper-text" data-error="Type a password"></span>
        </div>

        <div class="input-field">
          <input id="name" type="text" name="name" class="validate" required>
          <label for="name">Your name</label>
          <span class="helper-text" data-error="Type a name"></span>
        </div>

        <input type="hidden" name="_csrf" value="{{csrf}}">

        <button class="btn btn-primary" type="submit">Register</button>
      </form>
    </div>
  </div>
</div>