<div class="row">
  <div class="col s6 offset-s3">
    {{#if error}}
      <p class="alert">{{error}}</p>
    {{/if}}

    <h2>Create a new Password</h2>
    <form action="/auth/password" method="POST">
      <div class="input-field">
        <input id="password" type="password" name="password" class="validate" required>
        <label for="password">New Password</label>
        <span class="helper-text" data-error="Type a password"></span>
      </div>
      
      <input type="hidden" name="_csrf" value="{{csrf}}">
      <input type="hidden" name="userId" value="{{userId}}">
      <input type="hidden" name="token" value="{{token}}">

      <button class="btn btn-primary" type="submit">Update a pass</button>
    </form>
  </div>
</div>