<div class="row">
  <div class="col s6 offset-s3">

    {{#if error}}
      <p class="alert">{{error}}</p>
    {{/if}}

    <h2>Forgot Your Password?</h2>
    <form action="/auth/reset" method="POST">
      <div class="input-field">
        <input id="email" type="email" name="email" class="validate" required>
        <label for="email">Email</label>
        <span class="helper-text" data-error="Type an email"></span>
      </div>
      <input type="hidden" name="_csrf" value="{{csrf}}">

      <button class="btn btn-primary" type="submit">Reset</button>
    </form>
  </div>
</div>