<h1>Add a new course</h1>

<form action="/add" method="POST">
    <div class="input-field">
        <input id="title" type="text" name="title" class="validate" required>
        <label for="title">Course name</label>
        <span class="helper-text" data-error="Type a name"></span>
    </div>

    <div class="input-field">
        <input id="price" type="number" name="price" class="validate" required min="1">
        <label for="price">Price</label>
        <span class="helper-text" data-error="Type a price"></span>
    </div>

    <div class="input-field">
        <input id="img" type="text" name="img" class="validate" required>
        <label for="img">URL image</label>
        <span class="helper-text" data-error="Type an image url"></span>
    </div>

    <input type="hidden" name="_csrf" value="{{csrf}}">

    <button class="btn btn-primary">Add a course</button>
</form>

