<h1>Basket</h1>

<div id="card">
{{#if courses.length}}
    <table>
        <thead> 
            <tr>
                <th>Title</th>
                <th>Number</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

            {{#each courses}}
            <tr>
                <td>{{title}}</td>
                <td>{{count}}</td>
                <td>
                    <button 
                        class="btn btn-small js-remove" 
                        data-id="{{id}}"
                        data-csrf="{{@root.csrf}}"
                    >Remove</button>
                </td>
            </tr>
            {{/each}}

        </tbody>
    </table>

    <p><strong>Price:</strong> <span class="price">{{price}}</span></p>

    <form action="/orders" method="POST">
        <input type="hidden" name="_csrf" value="{{csrf}}">
        <button type="submit" class="btn">Submit order</button>
    </form>
{{else}}
    <p>empty card</p>
{{/if}}
</div>
