<h1>Courses</h1>

{{#if courses.length}}
{{#each courses}}
<div class="row">
    <div class="col s6 offset-s3">
        <div class="card">
            <div class="card-image">
                <img src="{{img}}" alt="{{title}}">
            </div>
            <div class="card-content">
                <span class="card-title">{{title}}</span>
                <p class="price">{{price}}</p>
            </div>
            <div class="card-action actions">
                <a href="/courses/{{_id}}" target="_blank">Open course</a>
                {{#if @root.isAuth}}

                    {{#ifeq userId._id @root.userId}}
                        <a href="/courses/{{_id}}/edit?allow=true" >Edit course</a>
                    {{/ifeq}}
                    <form action="/card/add" method="POST">
                        <input type="hidden" name="_csrf" value="{{@root.csrf}}">
                        <input type="hidden" name="id" value="{{_id}}">
                        <button type="submit" class="btn btn-primary">Buy</button>
                    </form>
                {{/if}}
            </div>
        </div>
    </div>
</div>
{{/each}}
{{else}}
<p>There's no courses yet</p>
{{/if}}