<h1>edit {{course.title}}</h1>

<form action="/courses/edit" method="POST" class="course-form">
    <div class="input-field">
        <input id="title" type="text" name="title" class="validate" required value="{{course.title}}">
        <label for="title">Course name</label>
        <span class="helper-text" data-error="Type a name"></span>
    </div>

    <div class="input-field">
        <input id="price" type="number" name="price" class="validate" required min="1" value="{{course.price}}">
        <label for="price">Price</label>
        <span class="helper-text" data-error="Type a price"></span>
    </div>

    <div class="input-field">
        <input id="img" type="text" name="img" class="validate" required value="{{course.img}}">
        <label for="img">URL image</label>
        <span class="helper-text" data-error="Type an image url"></span>
    </div>

    <input type="hidden" name="_id" value="{{course._id}}">
    <input type="hidden" name="_csrf" value="{{csrf}}">

    <button type="submit" class="btn btn-primary">Edit a course</button>
</form>

<form action="/courses/remove" method="POST">
    <input type="hidden" name="_id" value="{{course._id}}">
    <input type="hidden" name="_csrf" value="{{csrf}}">
    <button class="btn red">Remove</button>
</form>